/*FUENTES*/
.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*ESTILOS DEL DOC*/


img{
    height: 200px;
}
h3{
    background: rgb(255,244,199);
    background: linear-gradient(90deg, rgba(255,244,199,1) 0%, rgba(255,197,0,1) 52%, rgba(255,0,0,1) 100%);
}

h1{
    font-family: Rubik Bubbles;
    text-align: center;
    background-color: rgb(214, 148, 110);
}

h1,h3{
    padding: 5px 5px 5px 5px;
}

h3{
    font-family: New Amsterdam;
    text-indent: 25px;
}

/*Estas líneas hacen el grid de las rolitas*/
.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

body{
    background-image: URL(Fotitos/fondo.jpg);
}

#listen_here,p,#links{
    background-color: rgb(242, 255, 127);
}

#list{
    background-color: rgb(255, 209, 82);
}