img{
    height: 200px;
}

body{
    background-image: url(internet.webp);
}

p{
    background-color: rgb(175, 219, 255);
    font-size: small;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3{
    background-color: rgb(136, 207, 255);
}
